@import url(base/normalize.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px; }

body {
  font-size: 40px;
  color: #000; }

@media only screen and (min-width: 768px) {
  html {
    font-size: 14px; }
  nav {
    width: 224px;
    height: 100%;
    float: left; }
    nav ul {
      margin-top: 100px;
      display: block !important;
      position: fixed;
      width: 224px; }
    nav .button-menu-wrapper {
      display: none; } }

#content {
  overflow: hidden;
  margin-top: 10px; }

.button {
  padding: 8px 16px;
  display: inline-block;
  background: #00bcd4;
  color: #fafafa;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  cursor: pointer; }

.button-menu, .button-menu-wrapper {
  display: block;
  cursor: pointer; }

.button-arrow {
  position: absolute;
  top: 12px;
  right: 14px;
  width: 0;
  height: 0;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 7px 7px 0;
  cursor: pointer; }

.ReaderHeader {
  list-style: none;
  background-color: #00bcd4;
  font-size: 1.2rem; }
  .ReaderHeader ul {
    padding: 0 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .ReaderHeader ul.Menu {
      padding: 0 0 5px 0; }
    .ReaderHeader ul li {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      color: #fafafa;
      cursor: pointer; }
      .ReaderHeader ul li span {
        padding: 10px 15px; }
      .ReaderHeader ul li.Selected span {
        border-bottom: 3px solid #ffff00; }
    .ReaderHeader ul input {
      font-size: 1rem;
      color: #a5a5a5; }

.Feed {
  margin: 5px 3px;
  border: 1px solid #00bcd4;
  padding: 7px;
  font-size: 1rem; }
  .Feed .Feed-Header {
    display: block;
    color: #a5a5a5;
    font-size: 0.8rem; }
    .Feed .Feed-Header span {
      display: block; }
    .Feed .Feed-Header .Feed-Star {
      float: left;
      width: 25px;
      height: 25px;
      background-image: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-128.png");
      background-size: 25px 25px;
      opacity: 0.3;
      cursor: pointer; }
    .Feed .Feed-Header .Feed-Title {
      margin-left: 7px;
      float: left; }
    .Feed .Feed-Header .Feed-Date {
      float: right; }
  .Feed h3 {
    font-size: 2rem;
    padding: 7px 0;
    color: #000;
    clear: both;
    cursor: pointer; }
  .Feed .Feed-Short {
    cursor: pointer; }
  .Feed p {
    font-size: 1.2rem;
    color: #000; }
  .Feed.Favourite .Feed-Star {
    opacity: 1; }

.AddFeed {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 20px; }

.Sort {
  float: right;
  display: block;
  position: relative; }
  .Sort .SortContainer {
    display: none;
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 1;
    width: 200px;
    background-color: #00bcd4; }
    .Sort .SortContainer.Active {
      display: block; }
    .Sort .SortContainer span {
      display: block;
      padding: 5px 20px; }

nav {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }
  nav span {
    position: relative;
    font-size: 1.2rem; }
  nav ul {
    display: none;
    list-style: none; }
    nav ul li a {
      padding: 14px 20px 14px 32px;
      display: block;
      color: #000;
      font-size: 1.4rem;
      font-weight: bold;
      cursor: pointer;
      word-break: break-all; }
      nav ul li a:hover, nav ul li a.Selected {
        background-color: #a5a5a5;
        color: #262626; }
  nav ul.expanded {
    display: block; }
