$default-color: #000;
$secondary-color: #a5a5a5;
$hover-color: #262626;
$header-background-color: #00bcd4;
$header-color: #fafafa;
html{
  font-size: 10px;
}
body {
  font-size: 40px;
  color: $default-color;
}
