@media only screen and (min-width: 768px) {
  html{
    font-size: 14px;
  }
  nav{
    width: 224px;
    height: 100%;
    float: left;
    ul{
      margin-top: 100px;
      display: block !important;
      position: fixed;
      width: 224px;
    }
    .button-menu-wrapper{
      display: none;
    }
  }
}

#content{
  overflow: hidden;
  margin-top: 10px;
}
