.button{
  padding: 8px 16px;
  display: inline-block;
  background: $header-background-color;
  color: #fafafa;
  box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
  border: 1px solid $secondary-color;
  border-radius: 5px;
  cursor: pointer;
}

.button-menu, .button-menu-wrapper {
  display: block;
  cursor: pointer;
}

.button-arrow{
  position: absolute;
  top: 12px;
  right: 14px;
  width: 0;
  height: 0;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 7px 7px 0;
  cursor: pointer;
}

