.Feed{
  margin: 5px 3px;
  border: 1px solid #00bcd4;
  padding: 7px;
  font-size: 1rem;
  .Feed-Header{
    display: block;
    color: $secondary-color;
    font-size:0.8rem;
    span{
      display: block;
    }
    .Feed-Star{
      float: left;
      width: 25px;
      height: 25px;
      background-image: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-128.png");
      background-size: 25px 25px;
      opacity: 0.3;
      cursor: pointer;
    }
    .Feed-Title{
      margin-left:7px;
      float: left;
    }
    .Feed-Date{
      float: right;
    }
  }
  h3{
    font-size: 2rem;
    padding: 7px 0;
    color: #000;
    clear: both;
    cursor: pointer;
  }
  .Feed-Short{
    cursor: pointer;
  }
  p{
    font-size: 1.2rem;
    color: $default-color;
  }
  &.Favourite{
    .Feed-Star{
      opacity: 1;
    }
  }
}