nav{
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  span{
    position: relative;
    font-size: 1.2rem;
  }
  ul{
    display: none;
    list-style: none;
    li{
      a{
        padding: 14px 20px 14px 32px;
        display: block;
        color: $default-color;
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
        word-break: break-all;
        &:hover, &.Selected{
          background-color: $secondary-color;
          color: $hover-color;
        }
      }
    }
  }
  ul.expanded{
    display: block;
  }
}