.ReaderHeader{
  list-style: none;
  background-color: $header-background-color;
  //display: flex;
  font-size: 1.2rem;
  ul {
    padding: 0 5px;
    &.Menu{
      padding: 0 0 5px 0;
    }
    display: flex;
    li {
      display: inline-flex;
      color: $header-color;
      cursor: pointer;
      span {
        padding: 10px 15px;
      }
      &.Selected {
        span {
          border-bottom: 3px solid #ffff00;
        }
      }
    }
    input {
      font-size: 1rem;
      color: $secondary-color;
    }
  }
}