.Sort{
  float: right;
  display: block;
  position: relative;
  .SortContainer{
    display: none;
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 1;
    width: 200px;
    background-color: $header-background-color;
    &.Active{
      display: block;
    }
    span{
      display: block;
      padding: 5px 20px;
    }
  }
}